<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${{ secrets.OSSRH_USER_TOKEN }}</username>
            <password>${{ secrets.OSSRH_PWD_TOKEN }}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${{ secrets.GPG_EXECUTABLE }}</gpg.keyname>
                <gpg.passphrase>${{ secrets.GPG_PASSPHRASE }}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
