<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${OSSRH_USER_TOKEN}</username>
            <password>${OSSRH_PWD_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${GPG_KEYNAME}</gpg.keyname>
                <gpg.passphrase>${GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
