name: release

on:
  # Trigger analysis when pushing in master
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        token: ${{ secrets.RELEASE_TOKEN }}
        ref: ${{ github.head_ref }}
    - name: Release to Maven Central
      run: |
       "${GITHUB_WORKSPACE}/release.sh"
      env:
        GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
        GPG_OWNERTRUST: ${{ secrets.GPG_OWNERTRUST }}
        OSSRH_USER_TOKEN: ${{ secrets.OSSRH_USER_TOKEN }}
        OSSRH_PWD_TOKEN: ${{ secrets.OSSRH_PWD_TOKEN }}
        GPG_KEYNAME: ${{ secrets.GPG_KEYNAME }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        GITHUB_REPOSITORY: ${{ github.repository }}
